.choose-type{
 justify-content: space-around;
  display: flex;
  margin: 10px;
 
}
.vl {
    border-left: 2px solid black;
    height: 267px;
    position: absolute;
  }
.particulier{
        
        box-shadow: 0px 0px 0px 0px #000000;
        background-color:transparent;
        border-radius:28px;
        border:1px solid black;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:35px;
        padding:16px 31px;
        text-decoration:none;
        font-weight: bold;
        
    }
    .particulier:hover {
        background-color:#ffffffde;
    }
    .particulier:active {
        position:relative;
        top:1px;
    }

    

.professionel{
   
   
        box-shadow: 0px 0px 0px 0px #D15721;
        background-color:white;
        border-radius:28px;
        border:1px solid black ;
        display:inline-block;
        cursor:pointer;
        color:black;
        font-family:Arial;
        font-size:35px;
        padding:16px 31px;
        text-decoration:none;
        font-weight: bold;
        
    }
    .professionel:hover {
        background-color:white;
    }
    .professionel:active {
        position:relative;
        top:1px;
    }
    a.professionel {
        margin-left: 28px;
    }
    

    img {
        width: 150px;
        height: 150px;
        display: block;
        margin: 30px
    }

    a.particulier {
        margin-left: 28px;
    }
     


    .titre1{
        font-size: 25px;
        margin: 30px;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
    }